/* stile del testo principale*/
@font-face {
    font-family: "Jost-Medium";
    src: url("../assets/font/Jost-Medium.ttf");
}
@font-face {
    font-family: "Jost-Bold";
    src: url("../assets/font/Jost-Bold.ttf");
}


body {
    font-family: "Jost-Medium", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    background-color: #121A1C;
    color: #C1976B;
    margin:0%;
    }

#hero-container {
    display:flex;
    align-items: center;
}
#rigasotto {
    font-size: 0.9em;
}
#maiuscoletto {
    font-size: 0.9em;
    font-family: "Jost-Medium", sans-serif;
    font-style: normal;
}

/* stile dell'immagine di copertina*/
#parasiteimg, #morsefinal {
    display: block;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;

}
#divimage {
    display: block;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}
/* stile del titolo di copertina*/
#divtitolo {
    font-size: 1em;
    color: #C1976B;
    position: absolute;
    text-align: right;
    bottom: 3em;
    right: 3em;
}
/* stile dei testi successivi*/
.centeredText {
    text-align: center;
    margin: 20%;
}
#legendaLines {
    margin-top: 15%;
    overflow:visible;
}
.rightText {
    padding-left: 45%;
    margin-top: -10.5%;
    margin-bottom: 6%;
}

.quoteText p{
    text-align: right;
    margin: 15%;
   font-style: italic;
    font-size: 1.4em;
    color: #C1976B;
}
/* stile dell'immagine che spiega la viz*/
#introLinesimg {
    float: right;
}

tspan {
    fill: #C1976B;

}

/*stile titolo*/
.titolo {
   text-align: right;
   position: relative;
   right: 62%;
   padding-bottom: 1em;
}

#legenda-tipolinee {
    margin-top: 2em;
    display: flex;
}

#legenda-tipolinee {
    display: flex;
    align-items: center;
}