/* stile del testo principale*/
@font-face {
    font-family: "Futura";
    src: url("../assets/font/Futura.ttc");
}

body {
    font-family: "Futura","futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    background-color: #121A1C;
    color: #C1976B;
    font-family:'Futura', sans-serif; 
    margin:0%;
    }

#hero-container {
    display:flex;
    align-items: center;
}


/* stile dell'immagine di copertina*/
#parasiteimg, #morsefinal {
    display: block;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;

}
#divimage {
    display: block;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}
/* stile del titolo di copertina*/
#divtitolo {
    font-size: 1em;
    color: #C30400;
    position: absolute;
    text-align: right;
    bottom: 3em;
    right: 3em;
}
/* stile dei testi successivi*/
.centeredText {
    text-align: center;
    margin: 25%;
}
.rightText {
    padding-left: 45%;
    padding-bottom: 25%;
    margin-top: -10%;
}
/* stile dell'immagine che spiega la viz*/
#introLinesimg {
    float: right;
}

tspan {
    fill: #C1976B;

}

/*stile titolo*/
.titolo {
    margin-left: 5%;
}