html {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#obj {
  background: blue;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  /* Align center */
  top:-10px;
  left: -10px;
  opacity: 0.5;
}

g #sfondo {
  width: 100%;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 0;
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0;
  max-width: 1px;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
}


figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 0 auto;
  background-color: #3b3b3b;
  color: #fff;
  opacity: 100;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.hidden {
  opacity: 0;
}

.axis path, .axis line {
  color: #F2E8DC;
  stroke: #F2E8DC;
}
.axis text{
  fill: #F2E8DC;
}

#the_line {
  position: fixed;
}